@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body{
  background: rgb(255,150,6);
  background: linear-gradient(90deg, rgba(255,150,6,0.4009978991596639) 0%, rgba(138,139,92,0) 50%, rgba(0,126,193,0.4) 100%);
}
.slider-btn{
  background: linear-gradient(yellow, tomato);
}

.marg-top{
  margin-top: 4em;
  margin-bottom: 4em;
}
.marg-top a{
  text-decoration: none;
  color: rgb(199, 146, 0);
}
/* a{
  text-decoration: none;
  color: rgb(255, 187, 0);
} */
.page-num{
  justify-content: end;
  margin-top: 10px;
}
.space{
  height: 1px;
  width: 100%;
  background: rgb(255,206,68);
  background: radial-gradient(circle, rgba(255,206,68,1) 18%, rgba(255, 255, 255, 0) 100%);
  /* background-color: lightgray; */
  margin-bottom: 50px;
}
.num-btn{
  color: aliceblue;
}
.categories-sec p{
  background-color: rgb(209, 233, 255);
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.categories-sec svg{
  margin: 5px;
  color: black;
}